.aws-sam/*
#samconfig.toml
spotify.py
manual_spotify.py
*.json
*.txt
*.ods
*.csv
.~lock*
*.xlsx
*.pyc
*.zip
*.exe
*.lock.hcl
*.lock.info
*/.aws-sam/*
2_Reports/current_month/.aws-sam/*
3_Utilities/migrations/epochTime/.aws-sam/*
3_Utilities/migrations/add-year-month/.aws-sam/*
3_Utilities/delete-by-id/.aws-sam/*

# Include some samconfig.toml
!poc-lambda/samconfig.toml
!1_NowPlaying/samconfig.toml
!requirements.txt
!2_Reports/current_month/samconfig.toml

!3_Utilities/migrations/epochTime/samconfig.toml
!3_Utilities/migrations/add-year-month/samconfig.toml
3_Utilities/export-table/.aws-sam/*

5_gcp/.terraform/*
5_gcp/terraform.tfstate.backup
5_gcp/terraform.tfstate
3_Utilities/get-recently-played/.aws-sam/*
3_Utilities/get-top-items/.aws-sam/*
3_Utilities/get-playlists/.aws-sam/*
3_Utilities/get-saved-tracks/.aws-sam/*
3_Utilities/shuffle-liked-tracks-playlist/.aws-sam/*