.aws-sam/build.toml
.aws-sam/build/template.yaml
.aws-sam/build/Lambda/requirements.txt
.aws-sam/build/Lambda/test.py
.aws-sam/build/Lambda/certifi/__init__.py
.aws-sam/build/Lambda/certifi/__main__.py
.aws-sam/build/Lambda/certifi/cacert.pem
.aws-sam/build/Lambda/certifi/core.py
.aws-sam/build/Lambda/certifi-2021.10.8.dist-info/LICENSE
.aws-sam/build/Lambda/certifi-2021.10.8.dist-info/METADATA
.aws-sam/build/Lambda/certifi-2021.10.8.dist-info/RECORD
.aws-sam/build/Lambda/certifi-2021.10.8.dist-info/top_level.txt
.aws-sam/build/Lambda/certifi-2021.10.8.dist-info/WHEEL
.aws-sam/build/Lambda/charset_normalizer/__init__.py
.aws-sam/build/Lambda/charset_normalizer/api.py
.aws-sam/build/Lambda/charset_normalizer/cd.py
.aws-sam/build/Lambda/charset_normalizer/constant.py
.aws-sam/build/Lambda/charset_normalizer/legacy.py
.aws-sam/build/Lambda/charset_normalizer/md.py
.aws-sam/build/Lambda/charset_normalizer/models.py
.aws-sam/build/Lambda/charset_normalizer/py.typed
.aws-sam/build/Lambda/charset_normalizer/utils.py
.aws-sam/build/Lambda/charset_normalizer/version.py
.aws-sam/build/Lambda/charset_normalizer/assets/__init__.py
.aws-sam/build/Lambda/charset_normalizer/cli/__init__.py
.aws-sam/build/Lambda/charset_normalizer/cli/normalizer.py
.aws-sam/build/Lambda/charset_normalizer-2.0.10.dist-info/entry_points.txt
.aws-sam/build/Lambda/charset_normalizer-2.0.10.dist-info/LICENSE
.aws-sam/build/Lambda/charset_normalizer-2.0.10.dist-info/METADATA
.aws-sam/build/Lambda/charset_normalizer-2.0.10.dist-info/RECORD
.aws-sam/build/Lambda/charset_normalizer-2.0.10.dist-info/top_level.txt
.aws-sam/build/Lambda/charset_normalizer-2.0.10.dist-info/WHEEL
.aws-sam/build/Lambda/idna/__init__.py
.aws-sam/build/Lambda/idna/codec.py
.aws-sam/build/Lambda/idna/compat.py
.aws-sam/build/Lambda/idna/core.py
.aws-sam/build/Lambda/idna/idnadata.py
.aws-sam/build/Lambda/idna/intranges.py
.aws-sam/build/Lambda/idna/package_data.py
.aws-sam/build/Lambda/idna/py.typed
.aws-sam/build/Lambda/idna/uts46data.py
.aws-sam/build/Lambda/idna-3.3.dist-info/LICENSE.md
.aws-sam/build/Lambda/idna-3.3.dist-info/METADATA
.aws-sam/build/Lambda/idna-3.3.dist-info/RECORD
.aws-sam/build/Lambda/idna-3.3.dist-info/top_level.txt
.aws-sam/build/Lambda/idna-3.3.dist-info/WHEEL
.aws-sam/build/Lambda/requests/__init__.py
.aws-sam/build/Lambda/requests/__version__.py
.aws-sam/build/Lambda/requests/_internal_utils.py
.aws-sam/build/Lambda/requests/adapters.py
.aws-sam/build/Lambda/requests/api.py
.aws-sam/build/Lambda/requests/auth.py
.aws-sam/build/Lambda/requests/certs.py
.aws-sam/build/Lambda/requests/compat.py
.aws-sam/build/Lambda/requests/cookies.py
.aws-sam/build/Lambda/requests/exceptions.py
.aws-sam/build/Lambda/requests/help.py
.aws-sam/build/Lambda/requests/hooks.py
.aws-sam/build/Lambda/requests/models.py
.aws-sam/build/Lambda/requests/packages.py
.aws-sam/build/Lambda/requests/sessions.py
.aws-sam/build/Lambda/requests/status_codes.py
.aws-sam/build/Lambda/requests/structures.py
.aws-sam/build/Lambda/requests/utils.py
.aws-sam/build/Lambda/requests-2.26.0.dist-info/LICENSE
.aws-sam/build/Lambda/requests-2.26.0.dist-info/METADATA
.aws-sam/build/Lambda/requests-2.26.0.dist-info/RECORD
.aws-sam/build/Lambda/requests-2.26.0.dist-info/top_level.txt
.aws-sam/build/Lambda/requests-2.26.0.dist-info/WHEEL
.aws-sam/build/Lambda/urllib3/__init__.py
.aws-sam/build/Lambda/urllib3/_collections.py
.aws-sam/build/Lambda/urllib3/_version.py
.aws-sam/build/Lambda/urllib3/connection.py
.aws-sam/build/Lambda/urllib3/connectionpool.py
.aws-sam/build/Lambda/urllib3/exceptions.py
.aws-sam/build/Lambda/urllib3/fields.py
.aws-sam/build/Lambda/urllib3/filepost.py
.aws-sam/build/Lambda/urllib3/poolmanager.py
.aws-sam/build/Lambda/urllib3/request.py
.aws-sam/build/Lambda/urllib3/response.py
.aws-sam/build/Lambda/urllib3/contrib/__init__.py
.aws-sam/build/Lambda/urllib3/contrib/_appengine_environ.py
.aws-sam/build/Lambda/urllib3/contrib/appengine.py
.aws-sam/build/Lambda/urllib3/contrib/ntlmpool.py
.aws-sam/build/Lambda/urllib3/contrib/pyopenssl.py
.aws-sam/build/Lambda/urllib3/contrib/securetransport.py
.aws-sam/build/Lambda/urllib3/contrib/socks.py
.aws-sam/build/Lambda/urllib3/contrib/_securetransport/__init__.py
.aws-sam/build/Lambda/urllib3/contrib/_securetransport/bindings.py
.aws-sam/build/Lambda/urllib3/contrib/_securetransport/low_level.py
.aws-sam/build/Lambda/urllib3/packages/__init__.py
.aws-sam/build/Lambda/urllib3/packages/six.py
.aws-sam/build/Lambda/urllib3/packages/backports/__init__.py
.aws-sam/build/Lambda/urllib3/packages/backports/makefile.py
.aws-sam/build/Lambda/urllib3/util/__init__.py
.aws-sam/build/Lambda/urllib3/util/connection.py
.aws-sam/build/Lambda/urllib3/util/proxy.py
.aws-sam/build/Lambda/urllib3/util/queue.py
.aws-sam/build/Lambda/urllib3/util/request.py
.aws-sam/build/Lambda/urllib3/util/response.py
.aws-sam/build/Lambda/urllib3/util/retry.py
.aws-sam/build/Lambda/urllib3/util/ssl_.py
.aws-sam/build/Lambda/urllib3/util/ssl_match_hostname.py
.aws-sam/build/Lambda/urllib3/util/ssltransport.py
.aws-sam/build/Lambda/urllib3/util/timeout.py
.aws-sam/build/Lambda/urllib3/util/url.py
.aws-sam/build/Lambda/urllib3/util/wait.py
.aws-sam/build/Lambda/urllib3-1.26.8.dist-info/LICENSE.txt
.aws-sam/build/Lambda/urllib3-1.26.8.dist-info/METADATA
.aws-sam/build/Lambda/urllib3-1.26.8.dist-info/RECORD
.aws-sam/build/Lambda/urllib3-1.26.8.dist-info/top_level.txt
.aws-sam/build/Lambda/urllib3-1.26.8.dist-info/WHEEL
samconfig.toml
