# This is a basic workflow to help you get started with Actions

name: 1-Main-Template

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  # We don't necessarily want to trigger a full build every time during migration
  push:
    branches:
      - main
      - feature/*

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::195663387853:role/github-oidc-Role-8FD7L07NDB33
          aws-region: us-east-1

      - name: Zip Now Playing Code
        working-directory: ./1_NowPlaying/code
        run: zip -r ../code.zip *

      - id: md5
        name: MD5 Now Playing Code's ZIP
        working-directory: ./1_NowPlaying
        run: |
          echo "::set-output name=md5::$(md5sum code.zip | awk '{ print $1 }')"

      - name: Upload Now Playing Code's MD5 ZIP
        working-directory: ./1_NowPlaying/
        run: aws s3 cp code.zip s3://spotify-tracker-sam-stackbucket-t9la7txytz-bucket-17ayxd8l3bm8f/code/${{steps.md5.outputs.md5}}

      - name: SAM Build & Deploy main template
        run: sam build && sam deploy --parameter-overrides NowPlayingKey=code/${{steps.md5.outputs.md5}}