# This is a basic workflow to help you get started with Actions

name: Utility Python Requests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: '**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/setup-python@v3
        with:
          python-version: "3.9"

      - run: pip install --target ./requests-package/python requests

      - run: zip -r ../python-requests.zip .
        working-directory: ./requests-package

      - id: md5
        name: md5 zip
        run: |
          echo "::set-output name=md5::$(md5sum python-requests.zip | awk '{ print $1 }')"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::195663387853:role/github-oidc-Role-8FD7L07NDB33
          aws-region: us-east-1

      - name: Upload to S3 as md5
        run: aws s3 cp python-requests.zip s3://spotify-tracker-sam-stackbucket-t9la7txytz-bucket-17ayxd8l3bm8f/code/${{steps.md5.outputs.md5}}

      - uses: actions/checkout@v3

      - name: Deploy CFT
        working-directory: ./4_AWS
        run: aws cloudformation deploy --template-file python-requests.yaml --stack-name spotify-tracker-sam-LambdaLayer-Requests --capabilities CAPABILITY_IAM --force-upload --parameter-overrides Key=code/${{steps.md5.outputs.md5}}